html { height: 100%; }

body {
    display: block;
    background-color: white;
    color: black;
}

header {
    display: inline-block;
    width: 97vw;
    background-color: rgb(243, 175, 154);
    height: 58px;
    margin-bottom: 10px;
    border: 8px double rgb(25, 25, 26);
    
}

header h1 {
    color:rgb(25, 25, 26);
    position: absolute;
    top: 4px;
    left: 30px;

}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    position:relative;
}

header button {
    position: relative;
    top: 4px;
}

#darkModeButton {
    height: 50px;
    bottom: 11px;
    right: 10px;
    background-color: rgb(58, 28, 112);
    color: rgb(194, 194, 162);
}

#back {
    height: auto;
    bottom: 11px;
    width: 60px;
    right: 5px;
    height:50px;
    background-color: brown;
    color: rgb(194, 194, 162);
}

#blogBody {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.item {
    margin: auto;
    margin-bottom: 50px;
    width: 40vw;
    height: auto;
    border: 4px double rgb(25, 25, 26);
    background-color: rgb(235, 205, 186);
    color:rgb(25, 25, 26);
    position: relative;
}

.item .postData {
    
    margin: 6px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#title {
    margin: auto;
    text-align: center;
}

#content {
    display: block;
    text-indent: 40px;
    background-color: rgb(201, 174, 158);
    margin-bottom: 20px;
}

#username {
    display:flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 4px;
}

footer {
    padding: 0;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer div {
    position: relative;
    display: block;
    text-align: center; 
    top: 5px;
}